<!DOCTYPE html>
<html lang="en" ng-app="addEventApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New Event</title>
         <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .panel-body {
            padding: 30px;
            margin: 0px auto;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
            -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
            -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0.22);
        }
        
        .panel-body h2 {
            background: #4D4D4D;
            text-transform: uppercase;
            color: #797979;
            font-size: 18px;
            font-weight: 100;
            padding: 20px;
            margin: -30px -30px -30px -30px;
        }
        
        .panel-body input[type="text"],
        .panel-body input[type="date"],
        .panel-body input[type="time"] {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            font: 16px Arial, Helvetica, sans-serif;
            height: 45px;
        }
        
        .panel-body input[type="button"],
        .panel-body input[type="submit"] {
            -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
            box-shadow: inset 0px 1px 0px 0px #45D6D6;
            background-color: #2CBBBB;
            border: 1px solid #27A0A0;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 14px;
            padding: 8px 18px;
            text-decoration: none;
            text-transform: uppercase;
        }
        
        .alert-info {
            background-color: #ffffff;
            border-color: #ffffff;
            margin: 50px auto;
            width: 480px;
            color: #4D4D4D;
        }
        
        form {
            margin: 0 auto;
            width: 360px;
        }
        
        .alert alert-info ng-binding {
            margin: 0 auto;
            width: 400px;
        }
        
        .icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
        }
        
        .modal-header {
            background-color: #4D4D4D;
        }
        
     
    </style>
</head>
<body ng-controller="addEventCtrl">
    <div>

        <div class="container">
            <hr>
            <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#signOut">Sign out</button>
            <a href="/calendar" class="btn btn-info btn-lg pull-right" role="button">Calendar</a>

            <a href="/eventsby" class="btn btn-warning btn-lg pull-right" role="button">Events</a>
            <h2>Add New Event</h2>
            <span class="clearfix"></span>
            <hr>
            <div class="ng-scope">
                <div class="alert alert-info ng-binding">
                    <div class="panel-body">
                        <h2>New Event</h2>
                        <form method="post">
                            <br><br>
                            <div class="form-group">
                                <b>
                                    
                                    <input type="text" placeholder="Enter Title" id="title" name="title" ng-model="addEventCtrl.title" class="form-control" wtx-context="BED5AF40-14E1-48B5-82BE-F51065264CC7" required>  </b>
                            </div>
                            <div class="form-group">
                                <b>
                                    <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use>
                                    <symbol id="icon-calendar" viewBox="0 0 32 32">
<title>calendar</title>
<path d="M10 12h4v4h-4zM16 12h4v4h-4zM22 12h4v4h-4zM4 24h4v4h-4zM10 24h4v4h-4zM16 24h4v4h-4zM10 18h4v4h-4zM16 18h4v4h-4zM22 18h4v4h-4zM4 18h4v4h-4zM26 0v2h-4v-2h-14v2h-4v-2h-4v32h30v-32h-4zM28 30h-26v-22h26v22z"></path>
</symbol>
                                    
                                    
                                    </svg>
Start Date:                            <input type="datetime-local" placeholder="Enter Start Date" id="start"  name="start" ng-model="addEventCtrl.start" class="form-control" required>
                                            </b>
                            </div>
                     
                            <div class="form-group">
                                <b>
                         <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use>
                                    <symbol id="icon-calendar" viewBox="0 0 32 32">
<title>calendar</title>
<path d="M10 12h4v4h-4zM16 12h4v4h-4zM22 12h4v4h-4zM4 24h4v4h-4zM10 24h4v4h-4zM16 24h4v4h-4zM10 18h4v4h-4zM16 18h4v4h-4zM22 18h4v4h-4zM4 18h4v4h-4zM26 0v2h-4v-2h-14v2h-4v-2h-4v32h30v-32h-4zM28 30h-26v-22h26v22z"></path>
</symbol>

                                    </svg>
                            End Date:    <input type="datetime-local" placeholder="Enter End Date" id="end" name="end" ng-model="addEventCtrl.end" class="form-control" required> </b></div>
                           
                            <br>
                            <button type="submit" class="btn btn-success" ng-click="savedEvent()">Save</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="signOut" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="ng-scope">
                        <div class="alert alert-info ng-binding">
                            <div class="panel-body">

                                <p> You will be signed out shortly. If you wish to remain signed in, please click <strong>Keep me Signed in</strong> below </p>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Keep me Signed in</button>

                                    <a href="/" class="btn btn-default">Sign me out</a>       </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div> </div></div>
    
 


            <script src="/libs/jquery/dist/jquery.min.js"></script>
            <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/libs/moment/min/moment.min.js"></script>
            <!-- <script src="/libs/angular/angular.min.js"></script> -->
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       
    
    
            <script>
                angular.module('addEventApp', [])
                    .controller('addEventCtrl', ['$scope', '$http', 'ngRoute', 'ngResource', function($scope, $http) {
                        $scope.savedEvent = function(req, res) {

                            var title = $scope.title;
                            var start = $scope.start;
                            var end = $scope.end;


                            var newevent = new Event();
                            newevent.title = title;
                            newevent.start = start;
                            newevent.end = end;

                            newevent.save(function(err, savedEv) {
                                if (err) {
                                    console.log(err);
                                    return res.status(500).send();
                                }
                                return res.status(200).send();
                            });
                        };

                    }]);

            </script>
</body>

</html>
