<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Events</title>

    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        .alert-info {
            background-color: #ffffff;
            border-color: #ffffff;
        }
        
        .modal-header {
            background-color: #4D4D4D;
        }
        
        th {
            background-color: #512f50;
            color: #fff;
        }

    </style>
</head>

<body ng-controller="myCtrl">

    <div>

        <div class="container">
            <hr>
            <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#signOut">Sign out</button>
            <a href="/calendar" class="btn btn-warning btn-lg pull-right" role="button">Calendar</a>
            <a href="/addevent" class="btn btn-info btn-lg pull-right" role="button">Add Event</a>

            <h2>Events</h2>
            <span class="clearfix"></span>
            <hr>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Title</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">End Date</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events">
                        <td>{{event.title}}</td>
                        <td id="start" class="text-center">{{event.start.$date}}</td>
                        <td data-formatter="dateFormat" id="end" class="text-center">{{event.end.$date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div id="signOut" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button> 
                </div>
                <div class="modal-body">
                    <div class="ng-scope">
                        <div class="alert alert-info ng-binding">
                            <div class="panel-body">

                                <p> You will be signed out shortly. If you wish to remain signed in, please click <strong>Keep me Signed in</strong> below </p>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Keep me Signed in</button>

                                 <a href="/" class="btn btn-default" >Sign me out</a>       </div>

                            </div>
                        </div>
                    </div> </div> </div>
                </div>
            </div>





    <!-- Modal Delete -->
    <div id="myEventDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Do You Want To Delete This Event?</h4>
                </div>
                <div class="modal-body">
                    <strong style="color:red;">
                    {{clickedEvent.title}} will be deleted
                    </strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="delete()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    


    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/moment/min/moment.min.js"></script>
    <!-- <script src="/libs/angular/angular.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/allevents.js"></script>

    <!-- <script src="/assets/js/ScheduleApp.js"></script>
    <script src="/assets/js/controllers/CalendarController.js"></script> -->



</body>

</html>
