
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/main_style.css" />
  </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <body>
 
      <div class="section">
    <div class="top-bordern left">
          </div>
          <br>
          <br>
          <br>
           <br>
          <br>
          <br>
        <div class="top-border right"></div>
          <h1>WELCOME</h1> <br>
          <br>
          <h5>PERSONAL ORGANISER</h5>
          <br>
          <br>
           <br>
          <br>
          <br>
           <br>
          <br>
          <br>
          <a href="/welcome">Register</a>
      <a href="/signin">Sign in</a>
      </div>  

  </body>
</html>
