<!DOCTYPE html>
<html ng-app="signupApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/signin_style.css" />
    <style>
        form {
            top: 43%;
        }

        .panel-body {
            top: 50%;
            margin-top: -21.5rem;
        }

        .btn-default {
            margin: 1rem 0 0.2rem;
        }
        
        .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
        a:visited{
            color:#D9D6D9;
        }

    </style>
</head>
<body ng-controller="RegisterController">
    <div class="container" style="width:600px; margin-right:auto; margin-left:auto; ">
        <div class="col-md-6">
            <div class="panel panel-default" style="width:400px; margin-right:auto; margin-left:auto; ">
                <div class="panel-heading"></div>

                <div class="panel-body">
                    
                    <div class="login">
                        <div class="login_check"></div>
                        <div class="login_form">
                            <form method="post">
                                <div class="login_row">
                                    <div class="form-group">
                                        <svg class="login_icon name svg-icon">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"></path>
                            </svg>
                                        <input type="text" placeholder="*Enter Username" name="username" class="form-control" ng-model="RegisterController.username" required>
                                    </div>
                                </div>
                                <div class="login_row">
                                    <div class="form-group">
                                       <svg class="icon icon-mail2"><use xlink:href="#icon-mail2"></use>
                                        <symbol id="icon-mail2" viewBox="0 0 32 32">
<title>mail2</title>
<path d="M26.667 0h-21.333c-2.934 0-5.334 2.4-5.334 5.334v21.332c0 2.936 2.4 5.334 5.334 5.334h21.333c2.934 0 5.333-2.398 5.333-5.334v-21.332c0-2.934-2.399-5.334-5.333-5.334zM26.667 4c0.25 0 0.486 0.073 0.688 0.198l-11.355 9.388-11.355-9.387c0.202-0.125 0.439-0.198 0.689-0.198h21.333zM5.334 28c-0.060 0-0.119-0.005-0.178-0.013l7.051-9.78-0.914-0.914-7.293 7.293v-19.098l12 14.512 12-14.512v19.098l-7.293-7.293-0.914 0.914 7.051 9.78c-0.058 0.008-0.117 0.013-0.177 0.013h-21.333z"></path>
</symbol>
                                        
                                        </svg>
                                        <input type="email" placeholder="Enter Email" name="email" class="form-control" ng-model="RegisterController.email" required>
                                    </div>
                                </div>
                                <div class="login_row">
                                    <div class="form-group">
                                        <svg class="login_icon pass svg-icon">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0"></path>
                            </svg>
                                        <input type="password" placeholder="Enter Password" name="password" class="form-control" ng-model="RegisterController.password" required>
                                    </div>
                                </div>
                               

                                <button type="submit" class="btn btn-default" ng-click="submit()">Sign Up</button> <br>
                                <font size="2" color="white">*Username and email cannot be the same</font>
                                                                <p><font size="4" color="white">Do you have an account? <a href="/signin" class="previous">Sign in here</a></font></p>
    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/signupApp.js"></script>
    <script src="/assets/js/controllers/RegisterController.js"></script>

</body>

</html>
