<!DOCTYPE html>
<html ng-app="ScheduleApp">
            <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

<style>
    .fc-table {
        background-color: #ffffff;
    }
    
    .fc-toolbar.fc-header-toolbar {
        margin-bottom: 1em;
        background: #84354D;
        padding: 70px 25px;
        width: 100%;
    }
    
    .fc-center {
        color: white;
        text-transform: uppercase;
    }
    
    input {
        margin-left: 0;
        width: 206px;
        font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin: 0;
        vertical-align: middle;
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        user-select: text;
        cursor: auto;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        border-image: initial;
        text-rendering: auto;
        color: initial;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        font: 13.3333 px Arial;
        font: 13.3333 px Arial;
    }
    
    i {
        font-style: italic;
    }
    
    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
    }
    
    a {
        color: #0088cc;
        text-decoration: none;
    }
    
    .alert {
        padding: 8px 35px 8px 14px;
        margin-bottom: 20px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border-radius: 4px;
    }
    
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    ul {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
    }
    
    .span4 {
        width: 31.914893617021278%
    }
    
    .calTools {
        margin-bottom: 10px;
    }
    
    .btn-group {
        position: relative;
        display: inline-block;
        font-size: 0;
        white-space: nowrap;
        vertical-align: middle;
    }
    
    .alert-info {
        background-color: #ffffff;
        border-color: #ffffff;
    }
    
    .fc td {
        background-color: whitesmoke;
    }
    
    .fc th {
        background-color: #512f50;
        line-height: 40px;
        color: #fff;
        font-family: "existencelight";
        font-size: 17px;
    }
    .modal-header {
            background-color: #4D4D4D;
        }

 
</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Calendar</title>
    <link rel='stylesheet' href='/libs/fullcalendar/dist/fullcalendar.min.css' />
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/calendar_style.css" />

<style>
    
    
    </style>

</head>

<body ng-controller="CalendarController">

    <div class="container">
        <hr>
            <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#signOut">Sign out</button>
        <a href="/eventsby" class="btn btn-warning btn-lg pull-right" role="button">Events</a>
                    <a href="/addevent" class="btn btn-info btn-lg pull-right" role="button">Add Event</a>

        <h2>Event Calendar</h2>
        <hr>
        
      
        
        <div class="row">
            <div class="col-md-12">
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
            </div>
          
        </div>
    </div>
    
     <!-- Modal -->
    <div id="signOut" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button> 
                </div>
                <div class="modal-body">
                    <div class="ng-scope">
                        <div class="alert alert-info ng-binding">
                            <div class="panel-body">

                                <p> You will be signed out shortly. If you wish to remain signed in, please click <strong>Keep me Signed in</strong> below </p>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Keep me Signed in</button>

                                 <a href="/" class="btn btn-default" >Sign me out</a>       </div>

                            </div>
                        </div>
                    </div> </div> </div></div></div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Event</h4>
                </div>
                <div class="modal-body">
                    <div class="ng-scope">
                        <div class="alert alert-info ng-binding">
                            <div class="panel-body">
                                <form method="post">
                                    <div class="form-group">
                                        <b>
                                    Title: <input type="text" placeholder="Enter Title"  id="title" name="title" ng-model="CalendarController.title" class="form-control" wtx-context="BED5AF40-14E1-48B5-82BE-F51065264CC7">  </b>
                                    </div>
                                    <div class="form-group">
                                        <b>

                           Start date: <input type="datetime-local" placeholder="Enter Start Date" id="start" name="start" ng-model="CalendarController.start" class="form-control">
                                            </b>
                                    </div>
                                    <div class="form-group">
                                        <b>
                            End date:    <input type="datetime-local" placeholder="Enter End Date" id="end" name="end" ng-model="CalendarController.end" class="form-control"> </b></div>
                                    <br>
                                    <button type="submit" class="btn btn-primary" ng-click="savedEvent()">Save</button>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                   <h4 style="color:white;">Event: </h4>
                </div>
                <div id="modalBody" class="modal-body">
                                      <h4 id="modalTitle" class="modal-title"></h4>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal Edit -->


    <div id="myEventEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:white;" class="modal-title">Event</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="title">Title</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" id="title" placeholder="Enter title" ng-model="newevent.title">     </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="start">Start Date</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" class="form-control" id="start" placeholder="Enter start date" ng-model="newevent.start">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="start">End Date</label>
                            <div class="col-sm-10">
                                <input type="datetime" readonly="readonly" class="form-control" id="end" placeholder="Enter end date" ng-model="newevent.end">     </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

 
    
        <script src="/libs/moment/min/moment.min.js"></script>
            <script src="/libs/jquery/dist/jquery.min.js"></script>
        <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-ui-calendar/src/calendar.js"></script>
    <script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/assets/js/ScheduleApp.js"></script>
    <script src="/assets/js/controllers/CalendarController.js"></script>
            <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script> 


<!--
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/moment/min/moment.min.js"></script>
    <script src="/libs/angular-ui-calendar/src/calendar.js"></script>
    <script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/assets/js/ScheduleApp.js"></script>
    <script src="/assets/js/controllers/CalendarController.js"></script>
-->

</body>

</html>
