<!DOCTYPE html>
<html ng-app="signinApp">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<head>
    <title>Sign in</title>

    <link rel="stylesheet" href="/libs/bootstrap/dist/css/signin_style.css" />
  <style>
     a:visited{
            color:#D9D6D9;
        }
    </style>
</head>

<body id="mySignin" ng-controller="SigninController">

    <div class="container" style="width:600px; margin-right:auto; margin-left:auto; ">
        <div class="col-md-6">
            <div class="panel panel-default" style="width:400px; margin-right:auto; margin-left:auto; ">
                <div class="panel-heading" style="width:400px; margin-right:auto; margin-left:auto; "></div>

                <div class="panel-body">

                    <br>
                    <br>
                    <br>
                    <div class="login">
                        <div class="login_check"> </div>
                        <div class=login_form>

                            <form method="post" novalidate>
                                <div class="login_row">
                                    <div class="form-group">
                                        <svg class="login_icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"/>
                            </svg>

                                        <input type="text" placeholder="Enter Username" name="username" class="form-control" ng-model="SigninController.username">
                                    </div>
                                </div>

                                <div class="login_row">
                                    <div class="form-group">
                                        <svg class="login_icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0"/>
                            </svg>
                                        <input type="password" placeholder="Enter Password" name="password" class="form-control" ng-model="SigninController.password">
                                    </div>

                                </div>

                                <button type="submit" class="btn-default" ng-click="submit()">Sign in</button> <br>

                                <p><font size="4" color="white">Don't have an account? <a href="/welcome" class="previous">Sign up now</a></font></p>



                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>



    </div>



    <script src="/assets/js/signinApp.js"></script>

    <script src="/assets/js/controllers/SigninController.js"></script>






</body>

</html>
